package-dist.json
.framework.js.swp
*.heapsnapshot
device_addr.db
node_modules*/*
npm-debug.log
OZW_Log.txt
modules.db
device_model.db
device_store.db
core
output
*.log*
examples/
build/
nohup.out
.c9revisions/
.vscode/
